:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd982;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shopping-cart-container {
  position: absolute;
  right: 0;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.title-container img{
  transform: rotate(180deg);
}

.title-cart {
  font-size: var(--lg);
  padding-left: 12px;
}

.shopping-cart {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 20px;
}

.shopping-cart-detail {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  width: 300px;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping-cart-detail figure {
  margin: 0;
}

.shopping-cart-detail figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-cart-detail p:nth-child(2) {
  font-size: var(--sm);
  font-weight: 400;
}

.shopping-cart-detail p:nth-child(3) {
  font-size: var(--md);
  font-weight: 700;
}

.total {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 12px 24px;
}

.total p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.total p:nth-child(2) {
  font-size: var(--md);
  line-height: 20px;
  font-weight: bold;
  color: #404040;
  text-align: end;
}

.total span:nth-child(1) {
  font-size: var(--md);
  line-height: 20px;
  font-weight: bold;
  color: #797979;
}

.button-container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}